# COVID19 2021 - Data Collection
## 코로나19 감염현황 - 데이터 수집 (공공데이터 활용)

### Import Modules

In [2]:
# 필요한 모듈을 import 합니다.

import pandas as pd    # DataFrame을 생성하고 가공하기 위한 모듈

### Define the name of the columns

In [4]:
# columns 속성을 이용한 컬럼명 변경 (전체 변경)

df = pd.read_excel("코로나 19 감염 현황.xlsx")
df.colums = ["누적 검사 수", "등록일시분초", "사망자 수", "확진자 수", "게시글번호", "기준일", "기준시간", "수정일시분초", "누적 확진률"]

/var/folders/5r/bcxwxb6x521399lvd_5y9jwm0000gn/T/ipykernel_24596/2641295716.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.colums = ["누적 검사 수", "등록일시분초", "사망자 수", "확진자 수", "게시글번호", "기준일", "기준시간", "수정일시분초", "누적 확진률"]

In [6]:
# rename 함수를 이용한 컬럼명 변경 (특정 대상 변경)

df.rename(columns={ "accExamCnt": "누적 검사 수",
                    "createDt": "등록일시분초",
                    "deathCnt": "사망자 수",
                    "decideCnt": "확진자 수",
                    "seq": "게시글번호",
                    "stateDt": "기준일",
                    "stateTime": "기준시간",
                    "updateDt": "수정일시분초",
                    "accDefRate": "누적 확진률" }, inplace=True)
df

,누적 검사 수,등록일시분초,사망자 수,확진자 수,게시글번호,기준일,기준시간,수정일시분초,누적 확진률
0,4269312,2021-01-01 00:00:00.000,917,61753,348,20210101,00:00,2021-10-07 10:30:51.51,1.508973
1,4302792,2021-01-02 00:00:00.000,942,62573,349,20210102,00:00,2021-10-07 10:30:51.51,1.517508
2,4340832,2021-01-03 00:00:00.000,962,63230,350,20210103,00:00,2021-10-07 10:30:51.51,1.522015
3,4376602,2021-01-04 00:00:00.000,981,64250,351,20210104,00:00,2021-10-07 10:30:51.51,1.534926
4,4439354,2021-01-05 00:00:00.000,1007,64964,352,20210105,00:00,2021-10-07 10:30:51.51,1.530148
...,...,...,...,...,...,...,...,...,...
360,19082135,2021-12-27 08:59:50.623,5300,611650,740,20211227,00:00,2022-01-04 09:05:27.24,NaN
361,19141481,2021-12-28 09:01:15.646,5346,615514,741,20211228,00:00,2022-01-04 09:05:38.235,NaN
362,19196738,2021-12-29 08:56:22.982,5382,620921,742,20211229,00:00,2022-01-04 09:05:44.529,NaN
363,19251165,2021-12-30 09:06:07.06,5455,625955,743,20211230,00:00,2022-01-04 09:05:54.411,NaN
364,19309072,2021-12-31 09:04:09.35,5563,630828,744,20211231,00:00,2022-01-08 09:39:49.89,NaN

### Missing Value Imputation

In [7]:
# 결측치 처리

df.fillna(0, inplace=True)
df

,누적 검사 수,등록일시분초,사망자 수,확진자 수,게시글번호,기준일,기준시간,수정일시분초,누적 확진률
0,4269312,2021-01-01 00:00:00.000,917,61753,348,20210101,00:00,2021-10-07 10:30:51.51,1.508973
1,4302792,2021-01-02 00:00:00.000,942,62573,349,20210102,00:00,2021-10-07 10:30:51.51,1.517508
2,4340832,2021-01-03 00:00:00.000,962,63230,350,20210103,00:00,2021-10-07 10:30:51.51,1.522015
3,4376602,2021-01-04 00:00:00.000,981,64250,351,20210104,00:00,2021-10-07 10:30:51.51,1.534926
4,4439354,2021-01-05 00:00:00.000,1007,64964,352,20210105,00:00,2021-10-07 10:30:51.51,1.530148
...,...,...,...,...,...,...,...,...,...
360,19082135,2021-12-27 08:59:50.623,5300,611650,740,20211227,00:00,2022-01-04 09:05:27.24,0.000000
361,19141481,2021-12-28 09:01:15.646,5346,615514,741,20211228,00:00,2022-01-04 09:05:38.235,0.000000
362,19196738,2021-12-29 08:56:22.982,5382,620921,742,20211229,00:00,2022-01-04 09:05:44.529,0.000000
363,19251165,2021-12-30 09:06:07.06,5455,625955,743,20211230,00:00,2022-01-04 09:05:54.411,0.000000
364,19309072,2021-12-31 09:04:09.35,5563,630828,744,20211231,00:00,2022-01-08 09:39:49.89,0.000000

### Rearrange the data

In [8]:
# 데이터 재정렬

df.sort_values("게시글번호", inplace=True)
df

,누적 검사 수,등록일시분초,사망자 수,확진자 수,게시글번호,기준일,기준시간,수정일시분초,누적 확진률
0,4269312,2021-01-01 00:00:00.000,917,61753,348,20210101,00:00,2021-10-07 10:30:51.51,1.508973
1,4302792,2021-01-02 00:00:00.000,942,62573,349,20210102,00:00,2021-10-07 10:30:51.51,1.517508
2,4340832,2021-01-03 00:00:00.000,962,63230,350,20210103,00:00,2021-10-07 10:30:51.51,1.522015
3,4376602,2021-01-04 00:00:00.000,981,64250,351,20210104,00:00,2021-10-07 10:30:51.51,1.534926
4,4439354,2021-01-05 00:00:00.000,1007,64964,352,20210105,00:00,2021-10-07 10:30:51.51,1.530148
...,...,...,...,...,...,...,...,...,...
360,19082135,2021-12-27 08:59:50.623,5300,611650,740,20211227,00:00,2022-01-04 09:05:27.24,0.000000
361,19141481,2021-12-28 09:01:15.646,5346,615514,741,20211228,00:00,2022-01-04 09:05:38.235,0.000000
362,19196738,2021-12-29 08:56:22.982,5382,620921,742,20211229,00:00,2022-01-04 09:05:44.529,0.000000
363,19251165,2021-12-30 09:06:07.06,5455,625955,743,20211230,00:00,2022-01-04 09:05:54.411,0.000000
364,19309072,2021-12-31 09:04:09.35,5563,630828,744,20211231,00:00,2022-01-08 09:39:49.89,0.000000

### Remove unnecessary columns

In [9]:
# 불필요한 컬럼 제거

df.drop(["등록일시분초", "수정일시분초", "기준시간", "게시글번호"], axis=1, inplace=True)
df

      누적 검사 수  사망자 수   확진자 수       기준일    누적 확진률
0     4269312    917   61753  20210101  1.508973
1     4302792    942   62573  20210102  1.517508
2     4340832    962   63230  20210103  1.522015
3     4376602    981   64250  20210104  1.534926
4     4439354   1007   64964  20210105  1.530148
..        ...    ...     ...       ...       ...
360  19082135   5300  611650  20211227  0.000000
361  19141481   5346  615514  20211228  0.000000
362  19196738   5382  620921  20211229  0.000000
363  19251165   5455  625955  20211230  0.000000
364  19309072   5563  630828  20211231  0.000000

[365 rows x 5 columns]

### Convert the data type

In [10]:
# 데이터형 변환

df["기준일"] = pd.to_datetime(df["기준일"], format="%Y%m%d")
df

      누적 검사 수  사망자 수   확진자 수        기준일    누적 확진률
0     4269312    917   61753 2021-01-01  1.508973
1     4302792    942   62573 2021-01-02  1.517508
2     4340832    962   63230 2021-01-03  1.522015
3     4376602    981   64250 2021-01-04  1.534926
4     4439354   1007   64964 2021-01-05  1.530148
..        ...    ...     ...        ...       ...
360  19082135   5300  611650 2021-12-27  0.000000
361  19141481   5346  615514 2021-12-28  0.000000
362  19196738   5382  620921 2021-12-29  0.000000
363  19251165   5455  625955 2021-12-30  0.000000
364  19309072   5563  630828 2021-12-31  0.000000

[365 rows x 5 columns]

### Remove the duplicate data

In [11]:
# 동일 날짜에 여러 데이터가 존재하는지 여부 확인

df["기준일"].value_counts()

2021-01-01    1
2021-09-09    1
2021-09-07    1
2021-09-06    1
2021-09-05    1
             ..
2021-05-01    1
2021-04-30    1
2021-04-29    1
2021-04-28    1
2021-12-31    1
Name: 기준일, Length: 365, dtype: int64

In [12]:
# for loop를 이용하여 동일 날짜에 여러 데이터가 존재하는지 여부 확인

for value in df["기준일"].value_counts():
    if value == 1:
        pass
    else:
        print(value)

In [13]:
# 만약 중복 데이터가 존재한다면?

"""
만약, 2020-02-08 (value=5) 이라면 ...

df.loc[df["기준일"] == "2020-02-08", :] # 중복데이터의 값을 확인하고 싶을 때, loc 인덱서로 해당 날짜의 데이터만 조회 가능
df.drop_duplicates("기준일", keep="last", inplace=True) # 중복값을 제거하고 가장 마지막에 수정된 값만 남기기
df
"""

'\n만약, 2020-02-08 (value=5) 이라면 ...\n\ndf.loc[df["기준일"] == "2020-02-08", :] # 중복데이터의 값을 확인하고 싶을 때, loc 인덱서로 해당 날짜의 데이터만 조회 가능\ndf.drop_duplicates("기준일", keep="last", inplace=True) # 중복값을 제거하고 가장 마지막에 수정된 값만 남기기\ndf\n'

### Organize DataFrame

In [14]:
# 추출된 태그명의 알파벳 순서대로 정렬되어있는 데이터프레임을 보기 편하게 재설정 & 인덱스도 초기화

df = df[["누적 검사 수", "사망자 수", "확진자 수", "기준일", "누적 확진률"]].reset_index(drop=True)
df

      누적 검사 수  사망자 수   확진자 수        기준일    누적 확진률
0     4269312    917   61753 2021-01-01  1.508973
1     4302792    942   62573 2021-01-02  1.517508
2     4340832    962   63230 2021-01-03  1.522015
3     4376602    981   64250 2021-01-04  1.534926
4     4439354   1007   64964 2021-01-05  1.530148
..        ...    ...     ...        ...       ...
360  19082135   5300  611650 2021-12-27  0.000000
361  19141481   5346  615514 2021-12-28  0.000000
362  19196738   5382  620921 2021-12-29  0.000000
363  19251165   5455  625955 2021-12-30  0.000000
364  19309072   5563  630828 2021-12-31  0.000000

[365 rows x 5 columns]

### Calculate the increase number of deaths and confirmed cases compare to previous day

In [15]:
# 전일 계산

new_columns = ["전일대비 " + name for name in df.columns[1:3]]
df.loc[:, new_columns] = df.iloc[:, 1:3].diff().values
df

      누적 검사 수  사망자 수   확진자 수        기준일    누적 확진률  전일대비 사망자 수  전일대비 확진자 수
0     4269312    917   61753 2021-01-01  1.508973         NaN         NaN
1     4302792    942   62573 2021-01-02  1.517508        25.0       820.0
2     4340832    962   63230 2021-01-03  1.522015        20.0       657.0
3     4376602    981   64250 2021-01-04  1.534926        19.0      1020.0
4     4439354   1007   64964 2021-01-05  1.530148        26.0       714.0
..        ...    ...     ...        ...       ...         ...         ...
360  19082135   5300  611650 2021-12-27  0.000000        55.0      4203.0
361  19141481   5346  615514 2021-12-28  0.000000        46.0      3864.0
362  19196738   5382  620921 2021-12-29  0.000000        36.0      5407.0
363  19251165   5455  625955 2021-12-30  0.000000        73.0      5034.0
364  19309072   5563  630828 2021-12-31  0.000000       108.0      4873.0

[365 rows x 7 columns]

### Extract date information

In [16]:
# 날짜 정보 추출

df['기준일_연도'] = df['기준일'].dt.year
df['기준일_월'] = df['기준일'].dt.month
df['기준일_요일'] = df['기준일'].dt.day_name()
df['기준일_분기'] = df['기준일'].dt.quarter
df

,누적 검사 수,사망자 수,확진자 수,기준일,누적 확진률,전일대비 사망자 수,전일대비 확진자 수,기준일_연도,기준일_월,기준일_요일,기준일_분기
0,4269312,917,61753,2021-01-01,1.508973,NaN,NaN,2021,1,Friday,1
1,4302792,942,62573,2021-01-02,1.517508,25.0,820.0,2021,1,Saturday,1
2,4340832,962,63230,2021-01-03,1.522015,20.0,657.0,2021,1,Sunday,1
3,4376602,981,64250,2021-01-04,1.534926,19.0,1020.0,2021,1,Monday,1
4,4439354,1007,64964,2021-01-05,1.530148,26.0,714.0,2021,1,Tuesday,1
...,...,...,...,...,...,...,...,...,...,...,...
360,19082135,5300,611650,2021-12-27,0.000000,55.0,4203.0,2021,12,Monday,4
361,19141481,5346,615514,2021-12-28,0.000000,46.0,3864.0,2021,12,Tuesday,4
362,19196738,5382,620921,2021-12-29,0.000000,36.0,5407.0,2021,12,Wednesday,4
363,19251165,5455,625955,2021-12-30,0.000000,73.0,5034.0,2021,12,Thursday,4
364,19309072,5563,630828,2021-12-31,0.000000,108.0,4873.0,2021,12,Friday,4

### Save the final processed data

In [ ]:
df.to_excel('코로나 19 감염 현황 가공 완료.xlsx')